In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('data/similarity_scores.csv')

In [42]:
df.head()

   track_one_id  track_two_id  similarity_score
0            34             0             0.741
1            92             0             0.688
2           142             0             0.667
3           171             0             0.685
4           254             0             0.654

In [43]:
song_index = 100

In [44]:
df[(df['track_one_id'] == song_index)].sort_values(by=['similarity_score'], ascending=False).head(10)

         track_one_id  track_two_id  similarity_score
3531860           100         10552             0.807
1948813           100          5637             0.719
7139412           100         21912             0.694
5574578           100         17316             0.671
1288167           100          3771             0.663
6306225           100         19290             0.659
4880048           100         14791             0.657
4014831           100         11884             0.653
4689206           100         13998             0.651